.btn {
  display: flex;
  padding: 15px;
  border: 0;
  background: var(--Neon-Green);

  z-index: 999;
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  z-index: 999;
  bottom: -30px;

  transition: all 0.3s ease-in-out;
  outline: none;
}
.btn img {
  width: 25px;
}
.btn:hover {
  box-shadow: 0 0 10px 1px var(--Neon-Green);
  transition: all 0.3s ease-in-out;
}
.btn:active {
  animation: rotate 1s ease-in-out infinite;
  transition: all 0.3s ease-in-out;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
